# Database
DATABASE_URL="postgresql://postgres:PASSWORD@db.YOUR_PROJECT_REF.supabase.co:5432/postgres"

# Telnyx API Keys
TELNYX_API_KEY=""
TELNYX_CONNECTION_ID=""

# Twilio API Keys
TWILIO_ACCOUNT_SID=""
TWILIO_API_KEY_SID=""
TWILIO_API_KEY_SECRET=""

# App
NEXTAUTH_SECRET="change-this-to-a-random-string"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
